/* import font from google fonts */
@import url("https://fonts.googleapis.com/css2?family=Nabla&family=Space+Grotesk:wght@300;600&display=swap");

/* GENERAL/GLOBAL */
/* GENERAL/GLOBAL */
/* GENERAL/GLOBAL */
/* GENERAL/GLOBAL */
/* GENERAL/GLOBAL */

* {
  font-family: "Space Grotesk", "Courier New", Courier, monospace !important; /* applies google font to whole site */
}

html,
body {
  background-color: black;
}

#root {
  background-color: black;
  color: #f0ffff;
  /* min-height: 100vh; */
}

/* COMPONENTS */
/* COMPONENTS */
/* COMPONENTS */
/* COMPONENTS */
/* COMPONENTS */

/* NAV */
/* NAV */
/* NAV */

/* form - contact modal */
.contact-form {
  text-align: center;
  padding-left: 2%;
  padding-right: 2%;
  margin-bottom: 1%;
}

/* HEADER */
/* HEADER */
/* HEADER */

/* NOTE: .header-planet can be found in imageSource.css */

.header-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2%;
  margin-bottom: 2%;
}

.header-textbox {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  position: absolute;
  padding: 5% 20% 20%;
  text-align: center;
  color: #f0ffff;
  text-shadow: 1px 2px #000000;
}

#pageTitle {
  width: 0;
  height: 0;
}

/* FOOTER */
/* FOOTER */
/* FOOTER */

.footer-name {
  margin: auto;
  margin-right: 0;
  margin-left: 0;
  position: relative;
  font-size: x-large;
  text-align: center;
  width: 50%;
}

/* UTILITIES */
/* UTILITIES */
/* UTILITIES */

.hide-overflow {
  overflow: hidden;
}

.increase-z {
  position: relative;
  z-index: 10;
}

/* PAGES */
/* PAGES */
/* PAGES */
/* PAGES */
/* PAGES */

/* ABOUT */
/* ABOUT */
.page-intro {
  text-align: center;
  padding: 2%;
  margin: 2%;
  height: 75vh;
}

.section-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 2%;
  padding: 5%;
  min-height: 75vh;
}

.section-title {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-end;
  align-content: flex-end;
  text-align: right;
  min-width: 120px;
  max-width: 120px;
  margin: 2%;
  margin-left: 4%;
  padding: 2%;
}

.section-content {
  display: flex;
  flex-direction: column;
  margin: 2%;
  padding: 2%;
  min-width: 40%;
  max-width: 50%;
  border-left: #f0ffff 2px solid;
}

.section-content ul {
  list-style-type: circle;
  padding-top: 0;
  margin-top: 0;
}

/* PROJECTS */
/* PROJECTS */

/* RESUME */
/* RESUME */
.resume-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 5%;
  margin: 2% auto;
  min-height: 75vh;
  width: 100%;
}

.resume-section1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3%;
  padding: 5%;
  min-width: 35%;
  height: 500px;
}

.resume-section2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: 3%;
  padding: 1%;
  padding-right: 5%;
  min-width: 40%;
  max-width: 50%;
  height: auto;
  border-right: #f0ffff 2px solid;
}

.resume-section2 h2 {
  margin-bottom: 0%;
  padding-left: 2%;
  border-left: #f0ffff 2px solid;
}

/* MEDIA QUERY - SMALL SCREEN */
/* MEDIA QUERY - SMALL SCREEN */
/* MEDIA QUERY - SMALL SCREEN */
/* MEDIA QUERY - SMALL SCREEN */
/* MEDIA QUERY - SMALL SCREEN */

@media screen and (max-width: 877px) {
  .section-container {
    margin: 0%;
    padding: 0%;
    margin-top: 5%;
    padding-top: 5%;
  }

  .section-title {
    margin: 0%;
    padding: 0%;
    margin-right: 2%;
    margin-left: 0%;
    padding-right: 2%;
  }

  .section-content {
    margin: 0%;
    padding: 0%;
    margin-top: 2%;
    padding-right: 5%;
    padding-left: 3%;
  }

  /* resume */
  .resume-section1 {
    min-width: 100%;
  }

  .resume-section2 {
    min-width: 100%;
    border-right: transparent;
    padding: 8%;
  }
}
