/* import font from google fonts */
@import url("https://fonts.googleapis.com/css2?family=Nabla&family=Space+Grotesk:wght@300;600&display=swap");

/* applies google font to whole app */
* {
  font-family: "Space Grotesk", "Courier New", Courier, monospace !important;
  /* color: aliceblue; */
}

#root {
  background-color: black;
  color: #f0ffff;
  min-height: 100vh;
}

/* NAV */
/* NAV */
/* NAV */

/* form - contact modal */
.contact-form {
  text-align: center;
  padding-left: 2%;
  padding-right: 2%;
  margin-bottom: 1%;
}

/* HEADER */
/* HEADER */
/* HEADER */

/* NOTE: .header-planet can be found in imageSource.css */

.header-container {
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2%;
  margin-bottom: 2%;
}

.header-textbox {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  position: absolute;
  padding: 5% 20% 20%;
  text-align: center;
  color: #f0ffff;
  text-shadow: 1px 2px black;
}

/* FOOTER */
/* FOOTER */
/* FOOTER */

.footer-name {
  margin: auto;
  position: relative;
  font-size: x-large;
  text-align: center;
  width: 55%;
}

.increase-z {
  position: relative;
  z-index: 1;
  background-color: #00000080;
}
