/* import font from google fonts */
@import url("https://fonts.googleapis.com/css2?family=Nabla&family=Space+Grotesk:wght@300;600&display=swap");

/* applies google font to whole app */
* {
  font-family: "Space Grotesk", "Courier New", Courier, monospace;
  /* color: aliceblue; */
}

#root {
  /* margin: 0; */
  background-color: black;
  min-height: 100vh;
}

h1 {
  color: aliceblue;
  /* background-color: #020530; */
}
/* NAV */
/* NAV */
/* NAV */

/* FOOTER */
/* FOOTER */
/* FOOTER */

.footer-name {
  margin: auto;
  font-size: x-large;
  text-align: center;
  width: 200px;
}
