/* main background */
.background-img {
  background-image: url("./images/AstroRy-revamp.png");
  background-repeat: no-repeat;
  background-position: left 0px bottom -10px;
  background-size: contain;
  height: 300px;
  width: 300px;
  position: relative;
}

.background-img span {
  position: absolute;
  top: 65px;
  left: 47px;
  width: 110px;
  text-align: center;
  font-size: 1.3em;
  background-color: #000000af;
  border: ridge azure 3px;
  border-radius: 20%;
}

/* navigation menu logo */
.nav-logo {
  background: url("./images/rocketRy.png") no-repeat center center;
  background-size: contain;
  width: 50px;
  height: 60px;
  display: flex;
  margin-top: 2px;
  margin-bottom: 2px;
}

.nav-logo:hover {
  background: url("./images/rocketRy.png") no-repeat center center;
  background-size: cover;
  width: 50px;
  height: 60px;
  display: flex;
  margin-top: 2px;
  margin-bottom: 2px;
}

/* header */
.header-planet {
  background: url("./images/earth.jpeg") center center;
  background-size: contain;
  width: 370px;
  height: 370px;
  position: relative;
  background-color: transparent;
  border-radius: 50% 50% 50% 50%;
}

/* resume */
.resume-img {
  background: url("../assets/images/myResume.png") no-repeat center center;
  background-size: cover;
  width: 300px;
  min-height: 400px;
  margin-top: 3% auto;
  border: 2px solid #87b7c2;
  border-radius: 2%;
  box-shadow: 0px -3px 25px 5px #87b7c2af;
}
