/* import font from google fonts */
@import url("https://fonts.googleapis.com/css2?family=Nabla&family=Space+Grotesk:wght@300;600&display=swap");

/* applies google font to whole app */
* {
  font-family: "Space Grotesk", "Courier New", Courier, monospace;
  /* color: aliceblue; */
}

body {
  margin: 0;
  background-color: rgb(22, 25, 30);
}

/* NAV */
/* NAV */
/* NAV */

/* FOOTER */
/* FOOTER */
/* FOOTER */

.footer-name {
  margin: auto;
  font-size: x-large;
  text-align: center;
  width: 200px;
}
